<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Eventbooker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    </head>
    <body>
        <div class="container">
          <div class="page-header">
              <h1>{{titulo}}</h1>
          </div>
          <form action="{{ url_for('update') }}" method="post" method="post">
            <fieldset>
              <input type="hidden" name="id" value="{{ evento.id }}">
              <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" class="form-control", value="{{ evento.titulo }}">
              </div>
              <div class="form-group">
                <label for="descricao">Descrição</label>
                <input type="text" id="descricao" name="descricao" class="form-control" value="{{ evento.descricao }}">
              </div>
              <div class="form-group">
                <label for="local">Local</label>
                <textarea  id="local" name="local" class="form-control" value="{{ evento.local_evento  }}"></textarea>
              </div>
              <div class="form-group">
                <label for="data">Data</label>
                <input type="date" id="data" name="data" class="form-control" value="{{ evento.data_evento }}">
              </div>
              <div class="form-group">
                <label for="hora">Horário</label>
                <input type="time" id="hora" name="hora" class="form-control" value="{{ evento.hora }}">
              </div>
              <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
              <a class="btn btn-danger" href="{{ url_for('index')}}">Voltar</a>
            </fieldset>
          </form>
            <!-- <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script> -->
        </div>
    </body>
</html>